@{
    ViewData["Title"] = "Inicio";
}

<section class="hero-gamer">
    <div class="hero-card animar">
        <span class="badge">LEVEL 01</span>

        <h1>Catálogo Gamer</h1>

        <p>
            Explora tus videojuegos favoritos, filtra por género
            y descubre detalles de cada título.
        </p>

        <a asp-controller="Catalogo" asp-action="Index" class="btn-neon">
            Entrar al catálogo
        </a>
    </div>
</section>